@model IEnumerable<HomeWork325.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<h2 class="text-warning">產品清單</h2>


<table class="table table-striped">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.pimage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.pNote)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                
               <img src="~/image/@Html.DisplayFor(modelItem => item.pimage)" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.pNote)
            </td>

        </tr>
    }

</table>
